<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <nav>
        <ul>
          <li>
              <a href="/">Home</a> 
          </li>
          <li>
              <a href="/dashboard">Dashboard</a>
          </li>
          {{#if loggedIn}}
            <li>
              <a id="logout" href="#">Logout</a>
            </li>
          {{else}}
            <li>
              <a href="/login">Login</a>
            </li>
            <li>
              <a href="/signup">Signup</a>
            </li>
          {{/if}}
        </ul>
      </nav>
      <div class="break-column"> </div>
      <h1>
        <a href="/">The Tech Blog</a>
      </h1>
    </header>
 
    <main>
      {{{ body }}}
    </main>
    {{!-- <footer>
      Thanks for visiting!
    </footer> --}}
  </div>

  {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>