<article>
  <div class="add-title">Add New Post</div> 
  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input name="post-title" id="post-title" type="text"/>
    </div>
    <div>
      <label for="post_text">New Post</label>
      <textarea name="post-text" id="post-text" cols="30" rows="10"></textarea>
    </div>
    <button type="submit" class="create-post-btn">Create</button>
  </form>
</article>

<script src="/javascript/add-post.js"></script>
{{!-- <script src="/javascript/comment.js"></script> --}}