{{#if posts.length}}
<section class="new-post-form">
  <h2>Your Posts</h2>
  <ol id="dashboard-posts">
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
  <a href="/dashboard/add-post" class="add-post-btn"><i class="fas fa-plus fa-xs"></i> New Post</a>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>